__pycache__
*.pyc
*.pyo
*.pyd
.Python
.coverage
htmlcov/
.pytest_cache/
.tox/
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.env
.venv
env/
venv/
ENV/
.git
.github
.gitignore
.vscode
.idea
*.md
!README.md
tests/
.mega-linter.yaml
mega-linter.log
megalinter-reports/
*.log
.pytest_cache/
