[flake8]
max-line-length = 100
extend-ignore = E203
# Exclude specific files or patterns
exclude = .git,__pycache__,build,dist
per-file-ignores =
    # Ignore line too long for specific lines in run.py
    run.py:E501
